<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HtmlAgilityPack" version="1.5.1" targetFramework="monoandroid60" />
  <package id="Square.OkHttp" version="2.4.0.3" targetFramework="monoandroid60" />
  <package id="Square.OkIO" version="1.5.0.0" targetFramework="monoandroid60" />
  <package id="Square.Picasso" version="2.5.2.1" targetFramework="monoandroid60" />
  <package id="System.Net.Http" version="4.3.1" targetFramework="monoandroid60" />
  <package id="System.Xml.XmlDocument" version="4.3.0" targetFramework="monoandroid60" />
  <package id="System.Xml.XPath" version="4.3.0" targetFramework="monoandroid60" />
  <package id="System.Xml.XPath.XmlDocument" version="4.3.0" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.Animated.Vector.Drawable" version="23.4.0.1" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.Design" version="23.4.0.1" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.Percent" version="23.4.0.1" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.v4" version="23.4.0.1" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.v7.AppCompat" version="23.4.0.1" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.v7.CardView" version="23.4.0.1" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.v7.RecyclerView" version="23.4.0.1" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.Vector.Drawable" version="23.4.0.1" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.ViewPropertyObjectAnimator" version="1.4.5" targetFramework="monoandroid60" />
  <package id="Xamarin.Bindings.RoundedImageView" version="2.3.0" targetFramework="monoandroid60" />
</packages>